.Header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.header-title {
  font-size: 1.4rem;
  margin-right: auto;
  text-decoration: none;
  padding: 0 20px;
}

.headerlink-title {
  color: #84d8fa;
  font-style: italic;
  font-weight: 200;
  text-decoration: none;
  padding: 0 5px;
}

.headerlink-title-selected {
  color: #84d8fa;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  padding: 0 5px;
}

.headerlink-title:hover,
.headerlink-title-selected:hover {
  opacity: 0.5;
}
